button{
    border-radius: 10%;
    background-color: gold;
    color: white;
    font-weight: 500;
}
body{
    background-color: rgb(85, 3, 85);
}
header{
    background-color: aliceblue;
}
a:hover{
    text-decoration: underline;
}
#product-main{
    background-color: white;
}
#product-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top:100px;
}
#table-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top:100px;
}
#product-landing{
    background-image:url(https://i.postimg.cc/T1qbGWd3/steven-erixon-Izwvp-T7g-Gg-U-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 90vh;
}
#checkout-landing{
    background-image:url(https://i.postimg.cc/bwF344VF/priscilla-du-preez-8aj1-Pl2-Ldd-M-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 90vh;
}
td{
    color: black;
    font-weight: 500;
    border: solid 1px black;
}
#contact-landing{
    background-image:url(https://i.postimg.cc/DZ3dThr5/elizeu-dias-a-Z3qiq1e-TRk-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 90vh;
}
#Admin-landing{
    background-image:url(https://i.postimg.cc/2y9388td/debby-ledet-j-EYia-Gwmkdk-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 90vh;
    width: 100%;
}
#About-landing{
    background-image:url(https://i.postimg.cc/HW43TrPM/mohd-zuber-saifi-p-Fw-PM1-YI2-M-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 90vh;
}
#landing{
    background-image:url(https://i.postimg.cc/rpKB9zDt/bogomil-mihaylov-ek-HSHvgr27k-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 90vh;
}
.welcome{
    color: purple;
}
#Headline{
    color: gold;
}
#description{
    color: purple;
}