#product-landing{
    background-image:url();
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
}
#Admin-landing{
    background-image:url(https://i.postimg.cc/2y9388td/debby-ledet-j-EYia-Gwmkdk-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
}
#landing{
    background-image:url(https://i.postimg.cc/rpKB9zDt/bogomil-mihaylov-ek-HSHvgr27k-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
}
.welcome{
    color: purple;
}
#Headline{
    color: gold;
}
#description{
    color: purple;
}