/* / header / */
#nav{
    /* border: 1px solid black; */
    width: 100%;
}
#nav-links{
    display: flex;
    justify-content: end;
    flex-direction: row;
    align-items: end;
    align-content: end;
    text-align: end;
}
.nav-link{
    padding-left: 25px;
}
.nav-link:hover{
    color: white;
}
#landing{
    background-image:url(https://i.postimg.cc/rpKB9zDt/bogomil-mihaylov-ek-HSHvgr27k-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
}
.welcome{
    color: purple;
}
#Headline{
    color: gold;
}
#description{
    color: purple;
}